* {
    margin: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.portrait {
    background-image: url("../images/homepage.50.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}

.accueil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #808080;
    height: 750px;

}


/* MAJOR */
h1.major,
h3.major,
h4.major,
h5.major,h2.major{
    border-bottom: solid 5px #d30909;
    /* width: -moz-max-content;
    /* width: -webkit-max-content; 
    width: -ms-max-content; */
    width: max-content;
    padding-bottom: 0.5rem;
    margin: 0 0 2rem 0;
    left: 50%;
    position: relative;

}

/* Navigation */
nav {
    position: relative;
    margin-top: 2em;
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
    /* background: black; */
}

nav ul li {
    display: inline-block;
    margin-left: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

#contactAccueil {
    margin-left: 15px;
}

.voletdroiteHome {
    background-color: #63127b8c;
    color: azure;
}

.sheader header nav ul li a {
    color: azure;
}

.text_portrait {
    border-top: 1px solid honeydew;
    border-bottom: 1px solid honeydew;
    width: 75%;
    height: 16%;
    margin: 0 0 6% 15%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    padding-top: 5%;
    color: aqua;
}

.portrait p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(243, 243, 243);
    margin-left: 20%;
}

.sujet section {
    border: 1px solid black;
    width: 40%;
    height: 50%;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    padding: 10%;
    background-color: #41464b;
    color: honeydew;
    font-size: 1.5em;
    font-weight: 30px;

    display: table;
}

section a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: rgb(243, 243, 243);
    ;
}

.portrait p:nth-child(2) {
    text-align: center;
    position: absolute;
    bottom: 10%;
    font-size: 4.5em;
    margin: auto;
}

.portrait p:nth-child(3) {
    text-align: center;
    position: absolute;
    bottom: 1%;
    font-size: 25px;
}

.sujet {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 5%;
    width: 94%;
    height: 78%;
}

.images img {
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.global_experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.aboutBox {
    background-color: rgba(48, 36, 92, 0.4);
    border-radius: 30px;
    padding: 20px 15px 15px 15px;
    margin-bottom: 15px;
}
.boxMetier {
    background-color: rgb(36 65 92 / 40%);
    border-radius: 30px;
    padding: 20px 15px 15px 15px;
    margin-bottom: 15px;
}

.text_technos {
    width: 100%;
    /* height: 100%; */
    /* margin: o auto; */
    text-align: center;
    margin-top: 30px;
}

.technos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 100%;
}

.themes_metier img {
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.titre_metier section {
    text-align: center;
}

.apropos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    /* grid-template-columns: 1fr 1fr; */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #63127b8c;
    color: aliceblue;
}

.gauche_apropos img {
    width: 100%;
    border-radius: 10px;
    grid-auto-flow: auto;
}

.gauche_apropos {
    /* border: 1px solid red; */
    display: grid;
    align-items: stretch;
}

.titre_apropos {
    width: 100%;
    height: 65px;
    padding-left: 7px;
    padding-top: 10px;
    border-bottom: 1px dotted rgb(252, 251, 247);
}

.parent_experiences {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    /* height: 500px;   valeur à étudier */
    /* border: 1px solid violet; */
}

.droite_apropos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 10px;
}

.experiences {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-right: 1px dotted rgb(252, 251, 247);
}

.suis_je {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
}

.metier {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: space-around;
    justify-items: stretch;
    align-items: center;
    margin-top: 20px;

}

.project {
    position: relative;
}

.project .overlay {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 96%;
    background-color: #1a2b4e8a;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transform: scale(0.699);
    border-radius: 65px
}

.project:hover .overlay {
    opacity: 1;
}

.project .overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 365px;
}

.project .overlay .text h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project .overlay .text p {
    font-size: 18px;
    line-height: 1.5;
}

.parent_themes_metier {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    border-radius: 10px;
    text-align: center;
}

/* .droite_apropos .telecharger {
    position: relative;
    bottom: 45px;
} */
.text_adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
    border-top: 1px dotted rgb(252, 251, 247);
}

.text_contact {
    text-align: center;
}

footer {
    height: 110px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding-top: 3%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer div a {
    text-decoration: none;
    color: aliceblue;
    width: 2%;
}

.formulaire {
    padding-top: 20px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px dotted rgb(252, 251, 247);
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 2em;
    /* overflow: visible; */
    vertical-align: -0.125em;
}

.formulaire {
    background-color: #63127b8c;
    background-repeat: repeat-y;
    padding-top: 0;


}

.contact {
    background-color: #63127b8c;
    color: aliceblue;
    padding-bottom: 5px;
}

.btn-sm {

    padding: 5px 16px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 0;
}

.btn-default {
    background: aliceblue;
    color: #4D3B00;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
}

.skillButton {
    display: flex;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 0;
    padding-left: 10px;
    margin: 5px 5px 5px 0;
    font-weight: 600;
}

.skillButton img {
    display: inline-block;
    height: 75%;
    margin-top: 6px;
    margin-right: 10px;
}

.more {
    font-weight: 300;
}

.aboutBox {
    background-color: rgb(36 65 92 / 40%);
    border-radius: 30px;
    padding: 20px 15px 15px 15px;
    margin-bottom: 15px;
}